<ion-content class="login" force-overscroll="false">


  <div class="page-centered-element">
    <!-- <img class="logo" src="assets/img/logo-icon.png"> -->

    <form #loginForm="ngForm" novalidate>
      <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3 style="text-align:center">Login</h3>
              <p style="text-align: center" *ngIf="errorMsglogin" class="customvalidtion">Invalid Username or Password
              </p>
            </div>
            <div padding>
              <ion-row>
                <ion-col col-12>
                  <ion-item>
                    <ion-input name="email" type="email" placeholder="your@email.com" ngModel #email="ngModel"
                      [ngClass]="{ 'is-invalid': loginForm.submitted && email.invalid }" required>
                    </ion-input>
                    <div *ngIf="loginForm.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Please Enter Username</div>
                    </div>

                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-item>
                <ion-input name="password" type="password" placeholder="Password" ngModel #Password="ngModel"
                  [ngClass]="{ 'is-invalid': loginForm.submitted && Password.invalid }" required password></ion-input>
                <div *ngIf="loginForm.submitted && Password.invalid" class="invalid-feedback">
                  <div *ngIf="Password.errors.required">Please Enter Password</div>
                </div>
              </ion-item>
            </div>
            <br>
            <br>
            <div padding>
              <ion-button class="btn-log-in" size="large" type="submit" [disabled]="loginForm.invalid" expand="block"
                (click)="login(loginForm)">
                login
              </ion-button>
            </div>
            <ion-row>
              <!-- <ion-col col-12 (click)=" onClickForgotPassword()">
                <p style="text-align: center">{{"FORGOT PASSWORD ?"}}</p>
              </ion-col> -->
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-grid>
    </form>


    <!--go to registration-->
    <ion-row>
      <ion-col col-12>
        <a (click)="Register()" style="text-align: center ;display: block;">
          {{"REGISTER NOW !"}}
        </a>
      </ion-col>
    </ion-row>
  </div>

</ion-content>