
    .btn-log-in {

      background-color: primary;
      width: 350px;
      margin: auto;
    }
    .page-centered-element {
      opacity: 5;
    }
    ion-grid {
      margin-top: 90px;
    }

    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 10%;
      min-height: 10%;
    }
    .ion-header
    {
        color: yellow;
    }
    .item {
      background-color: rgba(119, 119, 119, 0.8);
      width: 80%;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
    }
    .item.item-block .item-inner {
      border-bottom: 0px;
    }
    .item-input .label {
      color: white;
    }
    
    .logo {
        max-width: 20%;
        border: 0;
        display: block;
        margin: 0 auto;
    
      }
    .login-btn {
      width: 80%;
      display: block;
      margin: 0 auto;
      border-radius: 5px;
      height: 4.4rem;
      background-color: primary;
    }
    .social-icon {
      width: 86px;
      padding: 0px 20px;
    }
  
  