<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (onclick)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>Mail Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="height: 10%; width :110%; padding: 70px;">
    <ion-label> Thanks for your recent purchase with us! I hope you're enjoying your new product.
      Please provide us the Product Details and the Quantity you need . We will deliver you as soon as possible
    </ion-label>
    <ion-input class="styles" placeholder="Enter the product Details "></ion-input>
    <ion-button class="btn">Submit</ion-button>
  </div>
</ion-content>