<ion-footer #footer no-border>
  <ion-grid fixed>
    <ion-row>
      <ion-col sizeXs="12" sizeLg="6" id="social">
        <a href="https://www.github.com/fivethree-team/fivethree" target="blank">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </a>
        <a href="https://twitter.com/fivethreeteam" target="blank">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </a>
        <a href="https://twitter.com/fivethreeteam" target="blank">
          <ion-icon slot="icon-only" name="logo-youtube"></ion-icon>
        </a>
        <a href="https://twitter.com/fivethreeteam" target="blank">
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>